# ==============================================================================
# See https://pre-commit.com            for more information
# See https://pre-commit.com/hooks.html for more hooks
# ref:
#   - https://pre-commit.com/#pre-commit-configyaml---hooks
# usage repo:
#   - hook list: https://pre-commit.com/hooks.html
#   - rust:
#     - https://github.com/doublify/pre-commit-rust
#
# ==============================================================================

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.1.0
    hooks:
      - id: check-byte-order-marker
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-yaml
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: https://github.com/pre-commit/pre-commit
    rev: v2.5.1
    hooks:
      - id: validate_manifest

#  - repo: https://github.com/doublify/pre-commit-rust
#    rev: v1.0 #master
#    hooks:
#      #- id: fmt
#      #- id: cargo-check
#      - id: clippy

  #
  # local: 自定义配置
  #
  - repo: local
    hooks:
      - id: fmt
        name: Cargo Fmt
        description: Format files with cargo fmt.
        entry: cargo +nightly fmt -- --check --verbose
        language: system
        types: [ rust ]
